.fof-box {
  align-items: center;
  background-color: #F0F1EA;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  height: 100vh;
}

.redirect {
  color: #B4BA96;
}

.redirect:hover {
  transform: scale(1.06);
  transition: .6s;
}

.fof-image {
  margin-top: 2em;
}
