* {
  font-family: 'Montserrat', sans-serif;
}

.main-page {
  display: flex;
  justify-content: center;
  background-color: #F0F1EA;
  /* margin-top: 8%; */
}

.load-error {
  font-size: 3em;
  text-align: center;
  padding: 1.4em;
}
